<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{object}}
<br>
{% if follow %}
<form action="{% url 'profiles:follow-unfollow-view' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="profile_pk" value="{{object.pk}}">
    <button type="submit">unfollow</button>

</form>
{% else %}
 <form action="{% url 'profiles:follow-unfollow-view' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="profile_pk" value="{{object.pk}}">
    <button type="submit">Follow</button>
     </form>
{% endif %}

{{follow}}
</body>
</html>