{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<button class="btn_count" type="submit"><b>{{ user_follower }}</b>
    <a href="{% url 'follower-list' %}">Followers</a></button>
<button class="btn_count" type="submit"><b>{{ user_count }}</b>
  <a href="{% url 'following-list' %}">Following</a></button>
<br>
{% endif %}
<table border = "1" style="width:100%">
    {% for post in object_list reversed %}




    <tr>
        <td>
<div class="post-entry column">
    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>


            <form action="{% url 'post_like' post.pk %}" method="POST">
	{% csrf_token %}

	{% if post_is_liked %}
<!--            <button type="submit" name="blogpost_id" value="{{object.id}}" onclick="myFunction(this)" class="fa fa-thumbs-down" ></button>-->

	<button type="submit" name="post_id" value="{{post.pk}}" >Unlike</button>
	{% else %}
<!--            <button type="submit" name="blogpost_id" value="{{object.id}}" onclick="myFunction(this)" class="fa fa-thumbs-up" ></button>-->

	<button type="submit" name="post_id" value="{{post.pk}}" >Like</button>
	{% endif %}
  </form>






     <p>{{ post.body }}</p>

{% if post.image %}
    <img style="width:10%; height:50px;" src="{{post.image.url}}"/>

    {% endif %}
</div>
        </td>
    </tr>



{% endfor %}
</table>

<style>
 .column {
  float: left;
  width: 97.5%;
  padding: 10px;
  background-color:#ddd;
}
</style>
{% if user.is_authenticated %}
<a href="api/v1/post/">api |</a>
<a href="auth/jwt/create/">generate token |</a>
<a href="auth/jwt/refresh/">refresh</a>{% endif %}
{% endblock content %}